.showcase {
  background-image: url(../Resources/images/elveswhocodevolunteer1.png);
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto';
  text-align: center;
}
